@charset "UTF-8";


@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('./fonts/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
	font-family: TmoneyRoundWindExtraBold, sans-serif;
	font-size: 15px;
	line-height: 1.5
	margin: 0px;
    height: 100%;
    width: 100%;

}


#wat.day {
  background-color: white;
  color: black;
}
/* Safari */
#wat.day:-webkit-full-screen {
  background-color: white;
  color: black;
}

/* IE11 */
#wat.day:-ms-fullscreen {
  background-color: white;
  color: black;
}

/* Standard syntax */
#wat.day:fullscreen {
  background-color: white;
  color: black;
}


#wat.night {
  background-color: black;
  color: lightgrey;
}
/* Safari */
#wat.night:-webkit-full-screen {
  background-color: black;
  color: lightgrey;
}

/* IE11 */
#wat.night:-ms-fullscreen {
  background-color: black;
  color: lightgrey;
}

/* Standard syntax */
#wat.night:fullscreen {
  background-color: black;
  color: lightgrey;
}


#weatherAir {
	position: relative;
	height: 55px;
	line-height: 55px;
	overflow: hidden;
	z-index: 2;
	text-align: center;
}

#weatherAir .logo img{
	text-align: center;
 	padding-top: 7px;
    padding-left: 7px;
  	float: left;
  	width: 50px;
  	box-sizing: border-box;
}

.wat-e{
	float: unset;
	display: contents;
}

#weather, #date{
	font-size: 2em;
}
weather2{
	font-size: 0.5em;
}

/*#date {
	position: relative;
	height: auto;
	overflow: hidden;
	z-index: 2;
	font-size: 2.5em;
	padding-left: 50px;
}*/

.time-e {
	position: relative;
	height: auto;
	overflow: hidden;
	z-index: 2;
	/*line-height: 180px;*/
	width: fit-content;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    display:inline-block;
}
#time{
		font-size: 11em;
}

#sec {
	position: relative;
	overflow: hidden;
	z-index: 2;
	font-size: 2em;
	padding-right: 50px;
	text-align: right;
}

section{
	width: 100%;
    height: 100%;
}
article{
	display: inline-table;
    width: 100%;
    height: 100%;
    text-align:center
}

.hidden{
	visibility: hidden;
}

.bc-v1 {
	background-color: #8977AD;
}

.bc-v2 {
	background-color: #8977AD;
}

.bc-red {
	background-color: #e9b8b8;
}

.bc-yel {
	background-color: #fff19f;
}

.bc-gre {
	background-color: #b3e6ca;
}