@charset "UTF-8";

html, body {
	font-family: Franklin Gothic Medium, sans-serif;
	font-size: 15px;
	line-height: 1.5
}


#weatherAir {
	position: relative;
	height: 75px;
	padding-top: 5px;
	line-height: 70px;
	overflow: hidden;
	z-index: 2;
	font-size: 2em;
	text-align: center;
}

#weatherAir .logo img{
	text-align: center;
 	padding-top: 7px;
    padding-left: 7px;
  	float: left;
  	width: 60px;
  	box-sizing: border-box;
}

#weather{
	float: unset;
}

#date {
	position: relative;
	height: auto;
	overflow: hidden;
	z-index: 2;
	font-size: 2.5em;
	padding-left: 50px;
}

#time {
	position: relative;
	height: auto;
	overflow: hidden;
	z-inde	x: 2;
	font-size: 12.5em;
	text-align: center;
	line-height: 180px;
}

#sec {
	position: relative;
	overflow: hidden;
	z-index: 2;
	font-size: 3em;
	padding-right: 50px;
	text-align: right;
}

.bc-v1 {
	background-color: #8977AD;
}

.bc-v2 {
	background-color: #8977AD;
}

.bc-red {
	background-color: #e9b8b8;
}

.bc-yel {
	background-color: #fff19f;
}

.bc-gre {
	background-color: #b3e6ca;
}